@font-face {
  font-family: 'HVAnalogue-Regular';
  src: url('hv-analogue-regular.eot');
  src: url('hv-analogue-regular.eot?#iefix') format('embedded-opentype'),
             url('hv-analogue-regular.woff2') format('woff2'),
       url('hv-analogue-regular.woff') format('woff'),
       url('hv-analogue-regular.ttf') format('truetype'),
       url('hv-analogue-regular.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
} 


@font-face {
  font-family: 'Ruden-Outline';
  src: url('ruden-outline.eot');
  src: url('ruden-outline.eot?#iefix') format('embedded-opentype'),
             url('ruden-outline.woff2') format('woff2'),
       url('ruden-outline.woff') format('woff'),
       url('ruden-outline.ttf') format('truetype'),
       url('ruden-outline.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ruden-OutlineItalic';
  src: url('ruden-outline-italic.eot');
  src: url('ruden-outline-italic.eot?#iefix') format('embedded-opentype'),
             url('ruden-outline-italic.woff2') format('woff2'),
       url('ruden-outline-italic.woff') format('woff'),
       url('ruden-outline-italic.ttf') format('truetype'),
       url('ruden-outline-italic.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ruden-Regular';
  src: url('ruden-regular.eot');
  src: url('ruden-regular.eot?#iefix') format('embedded-opentype'),
             url('ruden-regular.woff2') format('woff2'),
       url('ruden-regular.woff') format('woff'),
       url('ruden-regular.ttf') format('truetype'),
       url('ruden-regular.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ruden-Italic';
  src: url('ruden-italic.eot');
  src: url('ruden-italic.eot?#iefix') format('embedded-opentype'),
             url('ruden-italic.woff2') format('woff2'),
       url('ruden-italic.woff') format('woff'),
       url('ruden-italic.ttf') format('truetype'),
       url('ruden-italic.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}


 body {
    background-color: #000000;
    color: #fff;
    font-family: 'HVAnalogue-Regular', sans-serif;

}

.header{
  display: flex;
  margin-top: 20px;
  width: 80%;
  margin-left: auto; 
  margin-right: auto; 
  justify-content: space-between; 
  align-items:center;
  z-index: 100;
}

.logo img{
  max-width: 50px;
  height: auto;
}

.navbar {
  display: flex; 
  justify-content: center; 
  width: 100%; 
}

.navbar a {
  font-size: 18px;
  font-weight: 500;
  color: #F24D92;
  text-decoration: none;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 20px;
}

.navbar a:hover{
  color: #FFFFFF;
  text-decoration: none; 
  letter-spacing: 2px;
  font-weight: bold;
} 

.vlogvision {
  font-size: 22px;
  color: #F24D92;
  text-decoration: none;
  font-weight: 700;
}


#headerGrid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
  font-weight: bold;
  font-style: italic;
  color:#FEDFE1;
  font-size: 50px;
}

/*#contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
}*/

#mainContainer{
  display: flex;
  justify-content: center;
  margin-top: 4vw;
  margin-bottom: auto; 
  margin-left: 50px;
  margin-right: auto;
}

#mainContainerRight{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; 
  width: 60vw;
}


#mainContainerRight h2{
  display: flex;
  justify-content: center;
  color: #F24D92;
}


#mainContainerRight p,h3{
  display: flex;
  justify-content: center;
  color: #FEDFE1;
}


#mainContainerRight > a {
  width: 60%;
}

#mainContainerRight img {
  width: 100%;
/*  max-height: 50vh;*/
}


#mainContainerLeft{
  display: flex;
  color: #FEDFE1;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 40px;
}

#stageMenu a {
  color: #FEDFE1; 
  text-decoration: none;
}

#stageMenu a:hover{
  color: #F24D92; 
  text-decoration: none; 
  letter-spacing: 2px;
  font-weight: bold;
}


#mainContainerLeft > div {
  display: flex;
  flex-direction: column;
}


#mainContainer2{
  display: flex;
  justify-content: center;
  margin-top: 4vw;
  margin-bottom: auto; 
  margin-left: auto;
  margin-right: 100px;
}

#mainContainerLeft2{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; 
  width: 60vw;
}


#mainContainerLeft2 h2{
  display: flex;
  justify-content: center;
  color: #F24D92;
}


#mainContainerLeft2 p,h3{
  display: flex;
  justify-content: center;
  color: #FEDFE1;
}


#mainContainerLeft2 img {
  max-height: 50%;
}


#mainContainerRight2{
  display: flex;
  color: #FEDFE1;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 40px;
}

#artMenu a {
  color: #FEDFE1; 
  text-decoration: none;
}

#artMenu a:hover{
  color: #F24D92; 
  text-decoration: none; 
  letter-spacing: 2px;
  font-weight: bold;
}


#mainContainerRight2 > div {
  display: flex;
  flex-direction: column;
}


